[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
gunicorn = "*"
whisper-timestamped = "*"
elevenlabs = "*"
pydantic = "*"
pydantic-core = "*"
websockets = "*"
dtw-python = "*"
tiktoken = "*"
pinecone-client = "*"
openai = "*"
fastapi = "*"
uvicorn = "*"
jinja2 = "*"
python-multipart = "*"
python-dotenv = "*"
pandas = "*"
numpy = "*"
azure-storage-blob = "*"
urllib3 = "*"
uuid = "*"

[dev-packages]

[requires]
python_version = "3.11"
